<p id="notice"><%= notice %></p>

<h1>Tv Shows</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Timing</th>
      <th>Tv channel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_channel_shows.each do |tv_show| %>
      <tr>
        <td><%= tv_show.name %></td>
        <td><%= tv_show.timing %></td>
        <td><%= tv_show.tv_channel %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tv Show', new_tv_show_path %>
